<aside class="footer">
    <div class="top-part">
        <h2>Subscribe To Get Special Price</h2>
        <input type="text" placeholder="Email Address...">
        <button class="btn sub-btn" type="button">Subscribe</button>
    </div>

    <hr class="line">

    <div class="end-part clearfix">
        <div class="left-side">
            <h3>THRIVE</h3>
            <p>We specialize in providing only the highest medical grade CBD. All of our products are lab tested and
                have been through strict quality control.</p>

            <div class="social-media">
                <ul>
                    <li class="twitter-icon">
                        <span class="iconify" data-icon="ant-design:twitter-circle-filled"></span>
                    </li>
                    <li class="facebook-icon">
                        <span class="iconify" data-icon="akar-icons:facebook-fill"></span>
                    </li>
                    <li class="instagram-icon">
                        <span class="iconify" data-icon="entypo-social:instagram-with-circle"></span>
                    </li>
                </ul>
            </div>
            <span>&copy;2022 Thrive, Design By Fatemeh Talebi </span>
        </div>

        <div class="right-side">
            <ul>
                <h4>CATEGORIES</h4>
                <li>Shop</li>
                <li> CBD Oil, Softgels</li>
                <li>Hair, Skin & Body</li>
            </ul>

            <ul>
                <h4>PRODUCTS</h4>
                <li><a href="products/handsanitizers"> Hand Sanitizers</a></li>
                <li><a href="products/cbdoil"> CBD Oil </a></li>
                <li><a href="products/balms"> Balms</a></li>
            </ul>

            <ul>
                <h4>CONTACT</h4>
                <li>Orders</li>
                <li>Messages</li>
                <li>Addresses</li>
            </ul>
        </div>
    </div>
</aside>
