<article class="auth-form">
    <div class="form-info">

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>

        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <form class="login" [formGroup]="loginForm" autocomplete="off" novalidate
                        (ngSubmit)="loginUser(loginForm.value)">
                        <div class="login__field">
                            <input type="email" formControlName="email" placeholder="Email Address..."
                                class="form-control login__input" required />
                            <div class="error-msg">
                                <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a
                                    valid email</em>
                                <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is
                                    required</em>
                            </div>
                        </div>
                        <div class="login__field">
                            <input type="password" id="password" formControlName="password" placeholder="Password"
                                class="form-control login__input" required />
                            <div class="error-msg">
                                <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is
                                    required</em>
                            </div>
                        </div>
                        <div class="login-field">
                            <span>Don'n Have Account? <a href="/register">Register</a></span>
                        </div>
                        <button type="submit" class="button login__submit" [disabled]="!loginForm.valid">
                            <span class="button__text">Log In Now</span>
                            <span class="button__icon material-icons-outlined">
                                login
                            </span>
                        </button>
                    </form>
                    <div class="social-login">
                        <h2>log in via</h2>
                        <div class="social-icons">
                            <a>
                                <span class="social-login__icon iconify"
                                    data-icon="ant-design:google-circle-filled"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
    </div>
</article>
