<article class="prod clearfix">
    <div class="wrapper">
        <div class="products" *ngFor="let prods of products, let i =index">
            <div class="image-box">
                <img src="{{prods.image}}">
            </div>
            <div class="text-box">
                <p class="description">{{prods.description}}</p>
                <h3 class="price">&#36; {{prods.price}}</h3>
                <label for="item-1-quantity">Quantity:</label>
                <input type="number" name="quantity" id="item-1-quantity" value="1" min="1">
                <button class="btn add-btn" type="button" name="item-1-button" id="item-1-button"
                    (click)="onAddToCart(prods)">Add to Cart</button>
            </div>
        </div>
    </div>
</article>
