.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.prod {
  background-color: rgb(243, 243, 243);
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px;
}

.products {
  display: inline-block;
  width: 23%;
  margin: 50px;
}

.image-box {
  width: 100%;
  overflow: hidden;
}


.text-box {
  width: 100%;
  padding: 1em;
  text-align: center;
}

h2, h3 {
  float: left;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0.2em auto;
}

.price {
  clear: left;
  width: 100%;
  text-align: center;
  margin: 15px auto;
}

.price {
  color: Grey;
}

label, input {
  float: left;
  clear: left;
  width: 100%;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin: 0.2em auto;
}

.description {
  float: left;
  clear: left;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #11104F;
  margin: 0.2em auto;
}

input:focus {
  outline-color: #fdf;
}

label {
  width: 60%;
}

.text-box input {
  width: 20%;
  clear: none;
  margin-bottom: 40px;
}

.text-box button {
  margin-top: 1em;
}

.add-btn {
  color: #fff;
  background-color: rgb(160, 130, 217);
  font-weight: 500;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
}

.add-btn:hover {
  background-color: rgb(136, 111, 184);

}

@media screen and (max-width: 1190px) {
  .wrapper {
    max-width: 800px;
  }

  .products {
    width: 37%;
    margin: 40px;
  }
}


@media screen and (max-width: 1000px) {
  .products {
    width: 37%;
    margin: 30px;
  }
}


@media screen and (max-width: 760px) {
  .products {
    width: 60%;
    margin: 50px;
  }
}
