<nav dir="rtl">
    <ul>
        <li class="list-item" (click)="onOpenSidenav()"><a class="material-icons-outlined">
                format_list_bulleted
            </a></li>
        <li class="v-line"></li>
        <li class="list-item" routerLink="/home"><a class="material-icons-outlined">
                home
            </a></li>
        <li class="list-item" routerLink="/cart">
            <div *ngIf="totalItems != 0" style="font-size: 10px;" class="badge bg-danger">{{totalItems}}</div>
            <a class="material-icons-outlined">
                shopping_cart
            </a>
        </li>
        <li *ngIf="!isUserAuthenticated" class="list-item" [routerLink]="['authentication/login']"><a
                class="material-icons-outlined">
                person
            </a></li>
        <li *ngIf="isUserAuthenticated" class="list-item" (click)="onLogout()"><a class="material-icons-outlined">
                logout
            </a></li>
    </ul>
</nav>


<div class="sidenav" [class.openSide]="sidenav_opened" *ngFor="let item of products">
    <a class="closebtn" (click)="onCloseSidenav()">&times;</a>
    <div *ngIf="isUserAuthenticated">
        <li class="title">Dashboard</li>
        <li class="item"><a>Profile</a></li>
        <li class="item"><a>orders</a> </li>
    </div>
    <div>
        <li class="title">products</li>
        <li [routerLink]="['/products', products[0].title]" class="item"><a>CBD Oil</a></li>
        <li [routerLink]="['/products', products[1].title]" class="item"><a>Hand Sanitizers</a> </li>
        <li [routerLink]="['/products', products[2].title]" class="item"><a>Balms</a></li>
    </div>
</div>
