<nav dir="rtl">
    <ul>
        <li routerLink="/products"><a class="material-icons-outlined">
                format_list_bulleted
            </a></li>
        <li class="v-line"></li>
        <li routerLink="/home"><a class="material-icons-outlined">
                home
            </a></li>
        <li><a class="material-icons-outlined">
                shopping_cart
            </a></li>
        <li><a class="material-icons-outlined">
                person
            </a></li>
    </ul>
</nav>
