<article class="top-aside">
    <header>
        <a class="logo" title="Thrive" href="#"><span>Thrive</span></a>
    </header>

    <img class="main-img" src="assets/images/thriveoil.jpg" alt="">

    <div class="wrapper">
        <span id="price">&#36;4.97</span>
        <h1>
            THRIVE CBD OIL
        </h1>
        <p>
            Cannabidiol is phytocannabinaid discovered in 1940. it is one of 113 identified cannabinoids in cannabis
            plants, along with tetrahydiroconnobinol, and accounts for up to 40% of the plant&apos;s extract.
            Wikipedia
        </p>
        <div class="main-btns">
            <button type="button" class="btn add-btn">ADD TO CART</button>
            <button type="button" class="btn view-btn">VIEW DETAIL</button>
        </div>
    </div>
    <div class="social-media" dir="rtl">
        <ul>
            <li class="twitter-icon">
                <a href="#" target="_blank">
                    <span class="iconify" data-icon="ant-design:twitter-circle-filled"></span>
                </a>
            </li>
            <li class="linkedin-icon">
                <a href="https://www.linkedin.com/in/fatemehtalebi/" target="_blank">
                    <span class="iconify" data-icon="entypo-social:linkedin-with-circle"></span>
                </a>
            </li>
            <li class="instagram-icon">
                <a href="https://www.instagram.com/ftmh_tlb_/" target="_blank">
                    <span class="iconify" data-icon="entypo-social:instagram-with-circle"></span>
                </a>
            </li>
        </ul>
    </div>
</article>

<article class="achive-aside clearfix">
    <div class="desc">
        <h3> Trusted by over 350000+
            clients worldwide since
            2018
        </h3>
    </div>
    <img class="like-img" src="assets/images/like.jpg" alt="">

    <div class="rate">
        <div class="left-num">
            <h1>4.6</h1>
            <span class="iconify" data-icon="codicon:star-full"></span>
            <span class="iconify" data-icon="codicon:star-full"></span>
            <span class="iconify" data-icon="codicon:star-full"></span>
            <span class="iconify" data-icon="codicon:star-full"></span>
            <span class="iconify" data-icon="codicon:star-full"></span>
            <br>
            <span class="rate-num">3350 Rating</span>
        </div>
        <div class="right-num">
            <h1>6M+</h1>
            <span class="sale-num">product sale per year <br> using out tools</span>
        </div>
    </div>
</article>

<article class="content-aside">
    <div class="wrapper">
        <h1>
            Thrive CBD Oil
        </h1>
        <p>
            Cannabidiol is phytocannabinaid discovered in 1940. it is one of 113 identified <br> cannabinoids in
            cannabis
            plants, along with tetrahydiroconnobinol, and accounts for up to 40% of the plant&apos;s extract.
            Wikipedia
        </p>
        <div class="images">
            <img class="content-imgs" id="c253" src="assets/images/ContentAside/c253bd.jpg" alt="">
            <img class="content-imgs" id="c252" src="assets/images/ContentAside/c252bd.jpg" alt="">
            <img class="content-imgs" id="c250" src="assets/images/ContentAside/c250bd.jpg" alt=""><br>
            <img class="content-imgs" id="c251" src="assets/images/ContentAside/c251bd.jpg" alt="">
        </div>
        <div>
            <button class="btn detail-btn">VIEW DETAILS</button>
        </div>
    </div>
</article>

<article class="tools">
    <div class="wrapper clearfix">
        <aside>
            <span class="iconify" data-icon="ic:outline-playlist-add-check-circle"></span>
            <p>100&percnt; Genuine Product Guarantee</p>
        </aside>
        <aside>
            <span class="iconify" data-icon="mdi:truck-delivery-outline"></span>
            <p>Guaranted On Time Delivary</p>
        </aside>
        <aside>
            <span class="iconify" data-icon="ic:outline-change-circle"></span>
            <p>100&percnt; Guaranted Return & Exchange</p>
        </aside>
        <aside>
            <span class="iconify" data-icon="fluent:person-support-16-regular"></span>
            <p>24&#215;7 Customer Support</p>
        </aside>
    </div>
</article>

<article class="aboutUs clearfix">

    <div class="images">
        <img id="b31" src="assets/images/AboutUs/31b.jpg" alt="">
        <img id="b30" src="assets/images/AboutUs/30b.jpg" alt="">
    </div>

    <div class="wrapper">
        <span>A BIT</span>
        <h1>ABOUT US</h1>
        <p>Thrive CBD is San Diego&apos; first CBD Dispensary. We specialize in only the highest medical grade. All
            of our product has been lab tested and been through our quality control. We base our knowledge
            on our countless customers feedback and can give you a direction were to start with CBD.</p>
        <button type="button" class="btn exp-btn">EXPLORE MORE</button>
    </div>
</article>
