.top-aside {
    background-color: #e3cbe5;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header a.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    text-decoration: none;
    color: #404040;
    font-size: 1rem;
    font-weight: bold;
}

.top-aside .wrapper {
    position: absolute;
    width: 42%;
    top: 130px;
    left: 50%;
    max-width: 320px;
}

.top-aside .wrapper p {
    font-size: 0.7rem;
    font-weight: 600;
    color: #444;
}

.top-aside .wrapper h1 {
    font-size: 5em;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 30px 0;
}

#price {
    transform: rotate(-90deg);
    font-size: 1.6rem;
    position: absolute;
    top: 25px;
    left: 230px;
    color: #ba9fd8;
    font-weight: bold;
}

.main-btns {
    margin-top: 50px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.6rem;
    font-weight: bold;
}

.view-btn {
    color: #a082d9;
    background-color: #fff;
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%);
}

.view-btn:hover {
    background-color: #e4e4e4;
}

.add-btn {
    color: #fff;
    background-color: #a082d9;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0 100%);
}

.add-btn:hover {
    background-color: #886fb8;
}

.social-media {
    position: absolute;
    top: 330px;
    right: -20px;
}

.social-media ul {
    list-style: none;
}

.social-media ul li {
    margin: 35px auto;
    color: #888;
    transition: 0.5s;
}

.social-media .iconify {
    width: 18px;
    height: 18px;
}

.social-media ul li:hover {
    cursor: pointer;
    transform: scale(1.8);
    transition: 0.5s;
}

.social-media .twitter-icon :hover {
    color: #00ACED;
}

.social-media .facebook-icon :hover {
    color: #3B5998;
}

.social-media .instagram-icon :hover {
    color: #F4405F;
}

.prev-next {
    position: absolute;
    top: 531px;
    right: 0px;
    width: 10%;
    height: 50px;
}

.prev-next span {
    font-size: 1.5rem;
    line-height: 50px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
}

.prev-next :hover {
    background-color: #a6a6a6;
}

.achive-aside {
    background-color: #a082d5;
    position: relative;
}

.desc {
    float: left;
    padding: 40px 25px 40px 100px;
    display: inline;
}

.desc h3 {
    color: #fff;
    max-width: 230px;
    font-weight: 500;
    font-size: 1.2rem;
}

.rate {
    color: #fff;
    float: right;
    margin: auto 50px;
}

.left-num {
    margin: 30px 50px;
    display: inline-block;

}

.right-num {
    margin: 30px 50px;
    display: inline-block;

}

.rate h1 {
    font-size: 3rem;
    font-weight: 550;
    color: #fff;
}

.rate .iconify {
    color: #f9c95a;
}

.rate-num {
    font-size: 12px;
}

.sale-num {
    font-size: 12px;
}

.like-img {
    position: absolute;
    left: 39%;
    bottom: 15px;
}

.content-aside {
    background-color: #f3f3f3;
}

.content-aside .wrapper {
    max-width: 45%;
    text-align: center;
    margin: auto;
    padding: 80px 0;
}

.content-aside h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: #11104f;
}

.content-aside p {
    color: #a2a4a7;
}

.content-aside .images {
    margin: 200px auto;
    position: relative;
    width: 600px;
}

.content-aside .images img {
    transition: 700ms;
}

.content-aside .images img:hover {
    transform: scale(1.2);
    transition: 700ms;
}

.content-aside .images #c253 {
    width: 120px;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    left: 10px;
}

.content-aside .images #c252 {
    width: 180px;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    left: 160px;
    top: -110px;
}

.content-aside .images #c250 {
    width: 180px;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    right: 30px;
    top: -30px;
}

.content-aside .images #c251 {
    width: 90px;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    left: 160px;
    top: 90px;
}

.detail-btn {
    color: #fff;
    background-color: #a082d9;
    width: 120px;
    letter-spacing: 2px;
    margin-top: 20px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
}

.detail-btn:hover {
    background-color: #886fb8;
}

.tools {
    background-color: #fdfdfd;
    position: relative;
    margin: auto;
}


.tools .wrapper aside {
    display: inline-block;
    margin: 10px 50px;
}

.tools .wrapper {
    text-align: center;
    margin: auto;
}

.tools .iconify {
    font-size: 40px;
    color: #11104f;
}

.tools .wrapper aside p {
    font-size: 0.7rem;
    max-width: 100px;
    text-align: center;
    color: #a2a4a7;
    margin-top: 5px;
}

.aboutUs {
    background-color: #f3f3f3;
    position: relative;
}

.aboutUs .images {
    float: left;
    margin: 150px 120px;
    position: relative;
}

#b31 {
    width: 180px;
    border-radius: 5px;
}

#b30 {
    width: 190px;
    border-radius: 5px;
    position: absolute;
    left: 200px;
    top: 100px;
}

.aboutUs .images img {
    transition: 700ms;
}

.aboutUs .images img:hover {
    transform: scale(1.2);
    transition: 700ms;
}

.aboutUs .wrapper {
    position: absolute;
    top: 130px;
    left: 60%;
    max-width: 30%;
}

.aboutUs .wrapper h1 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.aboutUs .wrapper p,
.aboutUs .wrapper span {
    font-size: 0.7rem;
    font-weight: 500;
    color: #88898a;
}

.aboutUs .wrapper .exp-btn {
    margin-top: 50px;
    width: 130px;
    letter-spacing: 2px;
    background-color: #a082d9;
    color: #fff;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
}

.aboutUs .wrapper .exp-btn:hover {
    background-color: #886fb8;
}

@media screen and (max-width: 1000px) {
    .top-aside .wrapper {
        left: 55%;
        max-width: 250px;
    }

    .top-aside .wrapper h1 {
        font-size: 3.7rem;
    }

    .top-aside .wrapper p {
        font-size: 0.6rem;
    }

    #price {
        font-size: 1.2rem;
        top: 13px;
        left: 200px;
    }

    .desc {
        padding-left: 50px;
    }

    .desc h3 {
        max-width: 200px;
    }

    .rate {
        margin: 0 20px;
    }

    .left-num {
        margin: 30px 20px;

    }

    .right-num {
        margin: 30px 20px;
    }

    .like-img {
        left: 35%;
        bottom: 40px;
        width: 130px;
    }

    .rate h1 {
        font-size: 2.5rem;
    }

    .content-aside .wrapper {
        max-width: 70%;
    }

    .content-aside .images {
        width: 500px;
    }

    .content-aside .images #c250 {
        right: -60px;
    }

    .aboutUs .images {
        margin: 150px 60px;
    }

    #b31 {
        width: 150px;
    }

    #b30 {
        width: 155px;
        left: 170px;
    }
}

@media screen and (max-width: 825px) {
    .main-img {
        width: 350px;
    }

    .top-aside .wrapper {
        top: 100px;
        max-width: 200px;
    }

    .top-aside .wrapper h1 {
        font-size: 2.5rem;
    }

    .top-aside .wrapper p {
        font-size: 0.5rem;
    }

    #price {
        font-size: 0.9rem;
        left: 130px;
    }

    .main-btns {
        margin-top: 30px;
    }

    .btn {
        width: 240px;
        height: 30px;
        font-size: 0.5rem;
    }

    .social-media {
        top: 200px;
    }

    .content-aside .wrapper {
        max-width: 100%;
    }

    .detail-btn {
        width: 120px;
        height: 40px;
    }

    .aboutUs .images {
        margin: 150px 30px;
    }

    #b31 {
        width: 130px;
    }

    #b30 {
        width: 135px;
        left: 140px;
    }

    .aboutUs .wrapper {
        max-width: 70%;
        position: absolute;
        right: 30px;
    }

    .aboutUs .wrapper .exp-btn {
        height: 40px;
    }
}

@media screen and (max-width: 760px) {
    .main-img {
        width: 450px;
    }

    .top-aside .wrapper {
        position: relative;
        top: -7px;
        left: 30%;
        max-width: 320px;
    }

    .top-aside .wrapper p {
        font-size: 0.7rem;
        font-weight: 600;
        color: #444;
    }

    .top-aside .wrapper h1 {
        font-size: 4em;
        margin-top: 30px;
    }

    #price {
        font-size: 1.2rem;
        left: 190px;
    }

    .desc h3 {
        max-width: 70%;
        font-size: 1.2rem;
        margin: auto;
    }

    .left-num {
        margin-top: 10px;
    }

    .right-num {
        margin-top: 10px;
    }

    .like-img {
        left: 60px;
        bottom: 25px;
        width: 130px;
    }

    .content-aside .images #c253 {
        width: 100px;
        left: 30px;
    }

    .content-aside .images #c252 {
        width: 150px;
        left: 140px;
    }

    .content-aside .images #c250 {
        width: 150px;
        right: 30px;
    }

    .content-aside .images #c251 {
        width: 85px;
    }

    .content-aside .images img:hover {
        transform: scale(1.1);
    }

    .aboutUs .images {
        margin: 30px 60px 500px;
    }

    .aboutUs .wrapper {
        top: 330px;
        left: 25%;
    }
}


@media screen and (max-width: 625px) {

    .like-img {
        left: 50px;
        bottom: 30px;
        width: 100px;
    }

    .content-aside .images #c253 {
        left: 5px;
    }

    .content-aside .images #c252 {
        left: 115px;
    }

    .content-aside .images #c250 {
        right: 55px;
    }

    .content-aside .images #c251 {
        left: 120px;
        top: 70px;
    }
}

@media screen and (max-width: 425px) {
    .main-img {
        width: 350px;
    }

    .content-aside .images #c253 {
        left: 30px;
        top: -100px;
    }

    .content-aside .images #c252 {
        left: 160px;
    }

    .content-aside .images #c250 {
        width: 150px;
        left: 160px;
        top: 60px;
    }

    .content-aside .images #c251 {
        width: 100px;
        left: 30px;
        top: 90px;
    }

    .detail-btn {
        margin-top: 80px;
    }
}
