<section class="main">
    <article class="top-aside">
        <app-navbar></app-navbar>

        <header>
            <a class="logo" title="Thrive" href="#"><span>Thrive</span></a>
        </header>

        <img class="main-img" src="../../assets/images/thriveoil.jpg" alt="">

        <div class="hero">
            <span id="price">&#36;4.97</span>
            <h1>
                THRIVE CBD OIL
            </h1>
            <p>
                Cannabidiol is phytocannabinaid discovered in 1940. it is one of 113 identified cannabinoids in cannabis
                plants, along with tetrahydiroconnobinol, and accounts for up to 40% of the plant&apos;s extract.
                Wikipedia
            </p>
            <div class="main-btns">
                <button type="button" class="btn add-btn">ADD TO CART</button>
                <button type="button" class="btn view-btn">VIEW DETAIL</button>
            </div>
        </div>
        <div class="social-media" dir="rtl">
            <ul>
                <li class="twitter-icon">
                    <span class="iconify" data-icon="ant-design:twitter-circle-filled"></span>
                </li>
                <li class="facebook-icon">
                    <span class="iconify" data-icon="akar-icons:facebook-fill"></span>
                </li>
                <li class="instagram-icon">
                    <span class="iconify" data-icon="entypo-social:instagram-with-circle"></span>
                </li>
            </ul>
        </div>
        <!-- <div class="prev-next" dir="rtl" style="background-color: beige; display: inline;">
        <span>&lt;</span>
        <span>&gt;</span>
    </div> -->
    </article>

    <article class="achive-aside">
        <div class="desc">
            <h3> Trusted by over 350000+
                clients worldwide since
                2018
            </h3>
        </div>

        <img class="like-img" src="../../assets/images/like.jpg" alt="">

        <div class="rate">
            <div class="right-num">
                <h1>6M+</h1>
                <span class="sale-num">product sale per year <br> using out tools</span>
            </div>
            <div class="left-num">
                <h1>4.6</h1>
                <span class="iconify" data-icon="codicon:star-full"></span>
                <span class="iconify" data-icon="codicon:star-full"></span>
                <span class="iconify" data-icon="codicon:star-full"></span>
                <span class="iconify" data-icon="codicon:star-full"></span>
                <span class="iconify" data-icon="codicon:star-full"></span>
                <br>
                <span class="rate-num">3350 Rating</span>
            </div>
        </div>
    </article>

    <article class="content-aside">
        <div class="hero">
            <h1>
                Thrive CBD Oil
            </h1>
            <p>
                Cannabidiol is phytocannabinaid discovered in 1940. it is one of 113 identified <br> cannabinoids in
                cannabis
                plants, along with tetrahydiroconnobinol, and accounts for up to 40% of the plant&apos;s extract.
                Wikipedia
            </p>
            <div class="images">
                <img id="c253" src="../../assets/images/photos-aside/c253bd.jpg" alt="">
                <img id="c252" src="../../assets/images/photos-aside/c252bd.jpg" alt="">
                <img id="c250" src="../../assets/images/photos-aside/c250bd.jpg" alt=""><br>
                <img id="c251" src="../../assets/images/photos-aside/c251bd.jpg" alt="">
            </div>
            <div>
                <button class="btn detail-btn">VIEW DETAILS</button>
            </div>
        </div>
    </article>

    <article class="tools">
        <div class="hero clearfix">
            <aside>
                <span class="iconify" data-icon="ic:outline-playlist-add-check-circle"></span>
                <p>100&percnt; Genuine Product Guarantee</p>
            </aside>
            <aside>
                <span class="iconify" data-icon="mdi:truck-delivery-outline"></span>
                <p>Guaranted On Time Delivary</p>
            </aside>
            <aside>
                <span class="iconify" data-icon="ic:outline-change-circle"></span>
                <p>100&percnt; Guaranted Return & Exchange</p>
            </aside>
            <aside>
                <span class="iconify" data-icon="fluent:person-support-16-regular"></span>
                <p>24&#215;7 Customer Support</p>
            </aside>
        </div>
    </article>

    <article class="aboutUs">
        <div>

        </div>
    </article>
</section>
