.cart {
    background-color: #f3f3f3;
    min-height: 1000px;
}

.cart-product {
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding: 150px 0 60px 0;
    min-height: 400px;
}

.table {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    box-sizing: border-box;
	box-shadow: 1px 1px 10px #424242;
}


.cart-img {
    width: 180px;
}

h2 {
    margin-top: 30px;
}

.cart-product a {
    font-size: 0.9rem;
    color: #757575;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.cart-product a:hover {
    text-decoration: underline;
}

td {
    vertical-align: middle;
}

th {
    padding-top: 30px;
}

.cart-table:hover {
    background-color: #f3f3f3;
}

.quantity {
    background-color: #6C757D;
    color: #fff;
    cursor: initial;
    width: 50px;
}
