<article class="notFound">
    <div class="wrapper">
        <div class="left-sdie">
            <p style="padding-top: 30px;" class="large">404</p>
        </div>
        <div class="right-side">
            <span class="iconify"
                data-icon="clarity:warning-line"></span>
            <span class="warn-header">
                Oops! Page not found.
            </span>
            <p>
                The page you ara looking for was not found.
            </p>
            <p>
                You may return to
                <a href="/home">home page</a> or try
                using the search form.
            </p>
        </div>
    </div>
</article>
