<article class="prod clearfix">
    <div *ngIf="!onDetails" class="wrapper">
        <div class="search-box">
            <input class="search-txt" type="text" [(ngModel)]="searchTerm" placeholder="Search Products"
                (keyup)="search($event)">
        </div>
        <div class="products" *ngFor="let item of productList |  filter:searchKey:'name'">
            <div class="image-box" (click)="onProductDetails(item.id)">
                <img src="{{item.imagePath}}">
            </div>
            <div class="text-box">
                <p class="name">{{item.name}}</p>
                <h3 class="price">&#36; {{item.price}}</h3>
                <button class="btn add-btn" type="button" name="item-1-button" id="item-1-button"
                    (click)="onAddToCart(item)">Add to Cart</button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</article>

<app-product-details *ngIf="onDetails" [productDetails]="productDetails"></app-product-details>
