@font-face {
    font-family: montserrat;
    src: url(assets/fonts/Montserrat/static/Montserrat-Regular.ttf) format("opentype");
}

* {
    font-family: 'montserrat';
}

html, body {
    height: 100%;
}

body {
    background-color: #BAC0CA !important;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit !important;
}
